.images {background-color: red;
margin-left: auto;
margin-right: auto;
}

.introSection {
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.furtherReading {
    background-color: red;
}

.webpage {
    background-color: g;
}